.home-wrapper {
  background-image: url('/content/images/fondoHome.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 1rem;
  width: 250px;
  height: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 12px;
}

.home-content {
  display: flex;
  flex-direction: column;
}

.app-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.login-form input {
  font-size: 12px;
  padding: 5px;
  border-radius: 8px;
}

.btn-google {
  background-color: #db4437;
  color: white;
  border-radius: 8px;
  font-size: 14px;
}

.btn-facebook {
  background-color: #3b5998;
  color: white;
  border-radius: 8px;
  font-size: 14px;
}

.btn-google:hover,
.btn-primary:hover,
.btn-facebook:hover {
  opacity: 0.7;
}
.btn-primary {
  background-color: rgb(7, 136, 61) !important;
  border-radius: 5px;
  border-color: rgb(7, 136, 61) !important;
}
.btn-warning {
  border-radius: 5px !important;
}
.btn-info {
  border-radius: 5px !important;
}
.btn-danger {
  border-radius: 5px;
}
