$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);
$header-background: #07883d;

.navbar {
  background-color: $header-background !important;
  height: 50px;
}
.navbar-brand {
  overflow: hidden;
}

.jh-navbar .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-version {
  font-size: 0.65em;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

.logo-img {
  height: 40px;
  width: auto;
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0;
  z-index: 1031;
}
